@model IEnumerable<AUserBoligForeningMVC.Models.Lejer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Efternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TlfNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TlfNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
