@model IEnumerable<AUserBoligForeningMVC.Models.Regninger>

@{
    ViewData["Title"] = "Index";
}

<br />
<h1>Oversigt</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Regning)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calendar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regning) Kr.-
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calendar)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Se Regning</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Download PDF</a>


                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

            </td>
        </tr>
}
    </tbody>
</table>
